<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>  
    Great Job!
    <br>
    <a href="/signout"><button>signout</button></a>
    <form>
        <div>
            <label>The tittle of the tweet*</label>
            <div>
                <input type="tittle"  name="tittle" id="tittleStr" required>
            </div>
        </div>

        <div>
            <label>The text*</label>
            <div>
                <input type="text"  name="text" id="textStr" required>
            </div>
        </div>
    </form>
    Great job!
    <a href="/tweets"><button>Click me to see all the tweets!</button></a>
</body>
</html>