<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body> 
    <form method="post" action="/signup">
        <!-- Heading -->
        <h2>
            Create an account
        </h2>

        <!-- Subheading -->
        <p >
            Please fill up your information below to sign up
        </p>

        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        <div>
            <label>Full_name*</label>
            <div class="input-group">
                <input type="full_name"  name="full_name" minlength="10">
            </div>
        </div>
        <div>
            <label>Username*</label>
            <div class="input-group">
                <input type="username"  name="username" minlength="12">
            </div>
        </div>
        <div>
            <label>Bio*</label>
            <div class="input-group">
                <input type="bio"  name="bio" minlength="280">
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
    </form>
    <br>
    <a href="/"><button>signin</button></a>
    <br>
    <br>
    <a href="/add_tweet"><button>add tweet</button></a>
</body>
</html>      